@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-inter);
    background: #fefeff;
    scrollbar-width: none;
    -ms-overflow-style: none;
    color: #334710;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::selection {
    background: #9eaf86;
  }
}
